	@font-face {
	font-family: Helvetica-Neue;
	src: url(Helvetica-Neue-Font/Helvetica-Neue-Font);
 }

@media screen and (min-width:801px)  {

	
body{
	display:flex;
	flex-flow: row wrap;
	background-color: #00002E;
	font-family: 'Helvetica-Neue',Helvetica,Arial,sans-serif;
	}
 .logo{
	 width: 100%;
	}
	.logo figure{
	height: 100px;
	margin: 0%;
	   }
	
 .topo{
	 position:sticky;
	width: 240px;
 	}
 .pg-home{
	 margin-left: 20%;
	 width: 858px;
	 height: 500px;
	}
h2{
	color: aliceblue;
	text-align: center;
	font-size: 350%;
	align-items: left;
	}
/*RODAPÉ*/
ul{
	display:flex;
	flex-wrap: wrap;
	color:white;
	list-style: none;
	}

li{
	width: 186px;	
	}
.adaptar{
	padding-left: 43%;
	}

.adaptar2{
	padding-left: 15%;
	padding-top: 14%;
}
.char{
	width: 150px;
}
.add{	
	padding-top: 30%;
	width: 100px;
}
.char:hover{
border: 1px solid white;
}
button{
	background-color:#00002E ;
	color:white;
	border: 2px solid white;
	width: 22%;
	height: 50px;
	margin-left: 36%;

}
button:hover{
border: 2px solid red;
color: gray;
}
}
@media screen and (min-width:610px) and (max-width:800px)
{
	body{
		display:flex;
		flex-flow: row wrap;
		background-color: #00002E;
		font-family: 'Helvetica-Neue',Helvetica,Arial,sans-serif;
		}
	 .logo{
		 width: 100%;
		}
		.logo figure{
			height: 100px;
			margin: 0%;
		   }
		
	 .topo{
		 position:sticky;
		width: 240px;
		 }
	 .pg-home{
		 margin-left: 20%;
		 width: 858px;
		 height: 500px;
		}
	h2{
		color: aliceblue;
		text-align: center;
		font-size: 350%;
		align-items: left;
		}
	/*RODAPÉ*/
	ul{
		display:flex;
		flex-wrap: wrap;
		color:white;
		list-style: none;
		}
	
	li{
		width: 186px;	
		}
	.adaptar{
		padding-left: 35%;
		}
	
	.adaptar2{
		padding-left: 15%;
		padding-top: 14%;
	}
	.char{
		width: 150px;
	}
	.add{	
		padding-top: 30%;
		width: 100px;
	}
	.char:hover{
	border: 1px solid white;
	}
	button{
		background-color:#00002E ;
		color:white;
		border: 2px solid white;
		width: 22%;
		height: 50px;
		margin-left: 36%;
	
	}
	button:hover{
	border: 2px solid red;
	color: gray;
	}
		

}

@media only screen and (max-width: 609px){
	body{
		display:flex;
		flex-flow: row wrap;
		background-color: #00002E;
		font-family: 'Helvetica-Neue',Helvetica,Arial,sans-serif;
		}
	 .logo{
		 width: 100%;
		}
		.logo figure{
			height: 100px;
			margin: 0%;
		   }
		
	 .topo{
		position:sticky;
		width: 150px;
		padding-left: 30%;
		 }
	 .pg-home{
		 margin-left: 10%;
		 width: 858px;
		 height: 500px;
		}
	h2{
		color: aliceblue;
		text-align: center;
		font-size: 150%;
		align-items: left;
		}
	/*RODAPÉ*/
	ul{
		display:flex;
		flex-wrap: wrap;
		color:white;
		list-style: none;
		}
	
	li{
		width: 186px;	
		}
	.adaptar{
		padding-left: 35%;
		}
	
	.adaptar2{
		padding-left: 15%;
		padding-top: 10%;
	}
	.char{
		width: 100px;
	}
	.add{	
		padding-left: 10%;
		width: 80%;
	}
	.char:hover{
	border: 1px solid white;
	}
	footer{
	display: flex;
    width: 100%;
    padding-left: 33%;
	}
	button{
		background-color:#00002E ;
		color:white;
		border: 2px solid white;
		width: 27%;
		height: 45px;
	}
	button:hover{
	border: 2px solid red;
	color: gray;
	}
		
	
}
